<!DOCTYPE html>
<html>
  <head>
    <title>Blocipedia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="alert alert-success text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
    
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Wikis", wikis_path %></li>

        <div class="pull-right user-info">
          <% if current_user %>
            Hey <%= (current_user.name || current_user.email) %>! <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            <% if current_user.standard? %>
              <%= link_to "Upgrade", new_charge_path, class: "btn btn-primary" %>
            <% elsif current_user.premium? %>
              <%= link_to "Downgrade", downgrade_path, class: "btn btn-danger", method: :put, data: { confirm: "All of your private wikis will become public. Are you sure you want to continute?" } %>
            <% end %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path %> or
            <%= link_to "Sign Up", new_user_registration_path %>
          <% end %>
        </div>
      </ul>

      <%= yield %>
    </div>
    
  </body>
</html>
